body {
    box-sizing: border-box;
    background: lightblue;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;
    height: 25px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 50px;
    background: antiquewhite;
}

form p{
    margin: 0;
}

input {
    width: 50%;
}

form div {
    display: flex;
    justify-content: space-between;
}

.answerWrap {
    display: flex;
    justify-content: space-between;
}

select {
    width: 50%;
}

.sectionWrap p{
margin: 0;
}

.btnList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
